.banner {
    display: block;
    background: rgb(237,241,243);
    background: linear-gradient(180deg, rgba(237,241,243,1) 42%, rgba(193,223,244,1) 100%);
    text-align: center;
}

.logo {
    display: block;
    height: 100px;
    background-color: white;
    text-align: center;
}