input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
background-color: rgb(245, 245, 245);
}  

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;    
  }

.titulos1{
    padding-top: 10px;
    font-size: x-large;
    font-weight: bold;
}