

.azul {
    display: block;
    background-color: blue;
    height: 100px;
}

.rojo {
    display: block;
    background-color: red;
    height: 100px;
}

.yellow {
    display: block;
    background-color: yellow;
    height: 100px;
}

.green {
    display: block;
    background-color: green;
    height: 100px;
}

.negro {
    display: block;
    background-color: violet;
    height: 100px;
}

/* login */

.cabezal01 {
    display: block;
    height: 100px;
}

.espacio_img {
    display: block;
    margin: 20px;
}

/* Fin de login */

.cinta {
    display: block;
    background-color: gray;
    height: 100px;
}


#banner1 {
    display: block;
}

#menu1 {
    display: block;
}

#controles1 {
    display: block;
}

#contillo1 {
    display: block;
}


.header {
    display: block;
}

.logo {
    display: block;
    height: 100px;
    background-color: white;
}

.banner {
    display: block;
    background: rgb(237,241,243);
    background: linear-gradient(180deg, rgba(237,241,243,1) 42%, rgba(193,223,244,1) 100%);;
}

.cinta {
    /* display: block; */
    display: inline-flex;
    background-color: #e6e6e6;
    height: 50px;
}

.conection {
    display: block;
    padding: 10px;
}

.iconos_cinta {
    display: inline;
    padding-top: 10px;
    padding-left: 5px;
}

.menu_lateral {
    display: block;
    border: 1px rgb(190, 190, 190);
    background-color: white;
}

.contenido {
    display: block;
}

.titulos1 {
    display: block;
    color: #013359;
    padding-top: 20px;
}

.barra_calendario {
    display: block;
    background-color: #f2f2f2 ;
    color: black;
    font-size: 10pt;
    height: 40px;
}

.texto_calendario {
    display: block;
    padding-top: 10px;
}


/* Estilo Tabla */

.tabla_sidebar_top {
    display: block;
    font-size: 9pt;
    background-color: #013359;
    color: white;
}

.tabla_sidebar_body {
    display: inline-block;
    font-size: 9pt;
    width: 100%;
}

/* Fin Estilo Tabla */

.responsive {
    width: 100%;
    height: auto;
  }

/* RESPONSIVE   */

.texto01 {
    font-size: 10pt;
    text-align: right;
}

.texto02 {
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
}

.texto02:hover {
    text-decoration: #013359 underline;

}



@media (min-width: 320px) and (max-width: 480px) {

#banner1 {
    display: none;
}

#menu1 {
    display: none;
}

#controles1 {
    display: none;
}

#cintillo1 {
    display: none;
}
    

  }