<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div><h3 class="titulos1">Otorgamientos Programados</h3></div><br>
            <div>
                <div class="barra_calendario">
                    <div class="texto_calendario">
                    Prev  Sig   Hoy   <b>#Mes</b>
                    </div>
                </div>
            </div><br>
            <div><img src="assets/images/calendario.png" class="responsive"></div>
        </div>
        <div class="col-4"> 
            <div class="row">
                <table class="table">
                <thead class="tabla_sidebar_top">
                    <tr>
                    <th scope="col">Solicitudes</th>
                    <th scope="col"><font color="#013359">............</font></th>
                    <th scope="col">Act.</th>
                    <th scope="col">Val.</th>
                    <th scope="col">Liq.</th>
                    <th scope="col">Otor.</th>
                    </tr>
                </thead>
                <tbody class="tabla_sidebar_body">
                    <tr>
                    <th scope="row">Registro de Buques Nuevos</th>
                    <td>70</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    </tr>
                    <tr>
                    <th scope="row">Registro de Buques Inscritos</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>3</td>
                    </tr>
                    <tr>
                    <th scope="row">Registro de Buques en Constr.</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    </tr>
                    <tr>
                    <th scope="row">Hipoteca Naval</th>
                    <td>20</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 